* {
  box-sizing: border-box;
}
main {
  max-width: 100rem;
  margin: auto;
  width: 100%;
}

/* HERO SECTION */

.hero .hero-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  border-style: solid;
  border-radius: 30px;margin-bottom: 10rem;
}
.hero-description h1{
  margin-bottom: 1rem;
}
.hero-description h2 {
  font-family: var(--ff-paragraph);
   font-size: 0.9rem;
   line-height: 1.2rem;
   
}
.hero-description p {
    font-family: var(--ff-paragraph);
     font-size: 0.9rem;
     line-height: 1.2rem;
     margin-bottom: 2rem;
}

.hero-img {
  width: 100%;
  /* max-width: 80rem; */
  height: 650px;
  display: inline-block;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  
}

/* .hero-img{

  
 } */

.hero-description {
  width: 20rem;
  height: 650px;
  background: #dbd2c8;
  padding: 70px 45px;
  border-radius: 0 30px 30px 0;
}

.hero-skills ul{
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

.hero-skills ul li {
  border-style: solid;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px; 
  border-radius: 2em;
  background-color: var(--clr-accent2);

}

/* GALLERY */
.gallery{
  margin: auto;
  padding: 1rem;
  max-width: 100rem;
  margin-bottom: 3rem;
}

.thumbnail-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 1rem;
  justify-content: space-between; 
}

/* 1 */
.title1 h2{
  font-size: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  margin: .5rem;
  margin-bottom: 1.2rem;
  border-style: solid;
  border-radius: 2em;
  background-color: var(--clr-accent);
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  text-align: center;
  justify-content: space-between;
  margin: .5rem;
  border-style: solid ;
  border-radius: 30px;
  border-color: black;
  
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(162, 130, 255, 0.85);
  opacity: 0;

  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: 600;
  color: black;

  display: grid;
  place-items: center;
  transition: opacity .5s;
  z-index: 1;
  
}

.gallery-item img {
  width: 100%;
  display: block;
  transition: transform .5s;
  position: relative;
  z-index: 0;
}

/* 2 */
.title2 h2{
  font-size: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  margin: .5rem;
  margin-bottom: 1.2rem;
  border-style: solid;
  border-radius: 2em;
  background-color: var(--clr-accent2);
}

.gallery-item2 {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  text-align: center;
  justify-content: space-between;
  margin: .5rem;
  border-style: solid ;
  border-radius: 30px;
  border-color: black;
  
}

.gallery-item2:hover .overlay {
  opacity: 1;
}

.gallery-item2:hover img {
  transform: scale(1.1);
}

.gallery-item2 .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(192, 234, 99, 0.9);
  opacity: 0;

  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: 600;
  color: black;

  display: grid;
  place-items: center;
  transition: opacity .5s;
  z-index: 1;
  
}

.gallery-item2 img {
  width: 100%;
  display: block;
  transition: transform .5s;
  position: relative;
  z-index: 0;
}


