* {
  box-sizing: border-box;
}
main {
  max-width: 100rem;
  margin: auto;
}

/* HERO SECTION */

.hero .hero-container {
  max-width: 100rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  border-style: solid;
  border-radius: 30px;
}


.hero-img {
  max-width: 80rem;
  height: 650px;
  display: inline-block;
  overflow: hidden;
  float: left;
  border-radius: 30px 0 0 30px;
  
}

.hero-img img{

  min-height: 100%;
  min-width: 65rem;
  max-width: 100%;
  
 }

.hero-description {
  width: 20rem;
  height: 650px;
  background: #dbd2c8;
  float: left;
  padding: 70px 45px;
  border-radius: 0 30px 30px 0;
}

.hero-skills ul{
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

.hero-skills ul li {
  border-style: solid;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px; 
  border-radius: 2em;

}

/* GALLERY */
.gallery{
  margin: 1rem 0;
  padding: 1rem;
}

h2{
  font-size: 1rem;
  padding: .5rem;
  border-style: solid;
  border-radius: 2em;
}

.thumbnail-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 1rem;
  justify-content: space-between;
  border-style: solid ;
  border-radius: 30px;

}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  text-align: center;
  justify-content: space-between;
  margin: .5rem;
  
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;

  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: 600;
  color: black;

  display: grid;
  place-items: center;
  transition: opacity .5s;
  z-index: 1;
  
}

.gallery-item img {
  width: 100%;
  display: block;
  transition: transform .5s;
  position: relative;
  z-index: 0;
}