main {
  max-width: 80rem;
  margin: 0 auto;
}

.thumbnail-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, .5);
  opacity: 0;

  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: 600;
  color: var(--clr-secondary);

  display: grid;
  place-items: center;
  transition: opacity .5s;
  z-index: 1;
}

.gallery-item img {
  width: 100%;
  display: block;
  transition: transform .5s;
  position: relative;
  z-index: 0;
}