* {
}
main {
  margin: 1.5rem;
  display: flex;
  flex-flow: column; 
  align-items: center;
}

/*Banner Img*/
.banner-container {
  margin: auto; 
  margin-bottom: 2rem;
}


.banner-img {
  width: 1500px;
  height: 60vw;
  max-height: 700px;
  border-radius: 30px 30px 30px 30px;
  min-height: 100%;
  object-fit: cover;
  border-style: solid;
  border-radius: 30px;
  
}

/* Banner Description */

.banner-description {
  margin: auto;
  justify-content: center;
  margin: 0rem 1rem 6rem 1rem;
  max-width: 700px;
}
.banner-description h1 {
  font-family: var(--ff-titles);
  font-size: 3rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}
/* Context Information */

.info {
  display: flex;
  flex-flow: column;
  margin: 0rem 1rem 4rem 1rem;
  line-height: 1.2rem;
  max-width: 700px;
  
}

.info h2 {
  font-size: 1.2rem; 
  padding-bottom: 0.5rem;

  
}

.info p {
  font-family: var(--ff-paragraph);
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding-bottom: 2.5rem;

  
}

/*Gallery*/
.gallery-container {
  margin: auto;
  margin-bottom: 4rem;
  max-width: 1500px;
   }

.gallery-container img {
  min-width: 100%;
  height: 75vw;
  max-height: 1125px;
  display: inline-block;    
  overflow: hidden;
  border-radius: 30px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-style: solid;


  }

  /* Behind the Scenes */
.bts-text {
  margin: 0rem 1rem 4rem 1rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  line-height: 1.2rem; 
  max-width: 1500px;
   }

.bts-text h2 {
   font-size: 1.2rem; 
   padding-bottom: 0.5rem;
   max-width: 700px;
  }
  
.bts-text p {
   font-family: var(--ff-paragraph);
   font-size: 0.9rem;
   line-height: 1.2rem;
   padding-bottom: 2.5rem;
   max-width: 700px;
   }

   /*bts-gallery*/
   
.bts-gallery-container {
  max-width: 1500px;
  margin: auto;
   
   }

.bts-gallery-container img {
  width: 100%;
  height: 75vw;
  max-height: 1125px;
  display: inline-block;    
  overflow: hidden;
  border-radius: 30px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-style: solid;

  }