* { 
  }
  main {
    margin: 1.5rem;
    display: flex;
    flex-flow: column; 
    align-items: center;
    
  }

  /*Banner Img*/
  .banner-container {
    margin: auto; 
    margin-bottom: 5rem;
    width:90vw;
    max-width: 1500px;
    
  }
  
  
  .banner-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    /* object-position: 0 -150px; */
    border-style: solid;
    border-radius: 30px;
   

    

    
    
  }

/* Banner Description */

  .banner-description {
    margin: auto;
    justify-content: center;
    margin: 0rem 1rem 6rem 1rem;
    max-width: 80vw;
  }
  .banner-description h1 {
    width: 100%;
    font-family: var(--ff-titles);
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1rem;
    max-width: 700px;
  }
/* Context Information */

  .info {
    display: flex;
    flex-flow: column;
    margin: 0rem 1rem 4rem 1rem;
    line-height: 1.2rem;
    max-width: 80vw;
    
  }

  .info h2 {
    font-size: 1.2rem; 
    padding-bottom: 0.5rem;
    max-width: 700px;

    
  }

  .info p {
    font-family: var(--ff-paragraph);
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding-bottom: 2.5rem;
    max-width: 700px;

    
  }

  /*Gallery*/
     
  .gallery-container {
    width: 80vw;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10rem;
     
     }

 .gallery-container img {
    width: 100%;
    max-height: 1125px;
    display: inline-block;    
    overflow: hidden;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-style: solid;
  
    }

    /* Behind the Scenes */
.bts-text {
    margin: 0rem 1rem 4rem 1rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    line-height: 1.2rem; 
    max-width: 80vw;
     }

.bts-text h2 {
     font-size: 1.2rem; 
     padding-bottom: 0.5rem;
     max-width: 700px;
    }
    
 .bts-text p {
     font-family: var(--ff-paragraph);
     font-size: 0.9rem;
     line-height: 1.2rem;
     padding-bottom: 2.5rem;
     max-width: 700px;
     }

     /*bts-gallery*/
     
.bts-gallery-container {
    width: 80vw;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10rem;
     
     }

 .bts-gallery-container img {
    width: 100%;
    max-height: 1125px;
    display: inline-block;    
    overflow: hidden;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-style: solid;
  
    }