@font-face {
  font-family: Nunito;
  src: url('/assets/fonts/nunito/Nunito-Bold.ttf');
  font-weight: 400;
}

/* font-family: 'Nunito', sans; */

@font-face {
  font-family: Nunito;
  src: url('/assets/fonts/Nunito/Nunito-Bold.ttf');
  font-weight: 400;
}

