.main-header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  max-width: 1300px;
}

.main-nav {
  display: flex;
  gap: .25em 2em;
}

.main-nav a {
  text-decoration: none;
  color: var(--clr-primary);
}

.main-nav a:hover {
  color: var(--clr-accent);
}



.logo {
  width: 150px;
  /* width: clamp(50px, 50px + 1vw, 50px); */
}

.logo img{
  width: 100%;
}