* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
  --ff-primary: Nunito, sans-serif;
  --ff-titles: Nunito, sans-serif;

  --clr-primary: black;
  --clr-secondary: #efe7df;
  --clr-accent: #a282ff;
  --clr-accent2: #c0ea63;
  --clr-accent3: #c0ea63;
  --clr-accent4: #c0ea63;
  --clr-box-bg: #dbd2c8
}
/* -- = costum properties */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  background: #efe7df;
}


#wrapper {
  flex-grow: 1;
}