* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
  --ff-primary: Inter, sans-serif;
  --ff-titles: Forum, serif;

  --clr-primary: black;
  --clr-secondary: #efe7df;
  --clr-accent: #a282ff;
}
/* -- = costum properties */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  background-color: #efe7df;
}

#wrapper {
  flex-grow: 1;
}